/* globals.css */
:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Push the footer to the bottom */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically if needed */
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.5;
  margin: 0.5rem 0;
}
