.container {
  display: flex;
  justify-content: center;
  background-color: var(--bg-primary);
}

.main {
  text-align: center;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: var(--bg-primary);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: var(--text-primary);
}

.heading {
  font-size: 2rem;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.subheading {
  font-size: 1rem;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.imagePlaceholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--bg-primary);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.buttonPrimary {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--bg-primary);
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonSecondary {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--input-border-color);
  color: var(--text-primary);
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.helpLink {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.helpLink:hover {
  color: var(--text-primary);
}
